<!DOCTYPE html>
<html>
  <head>
    <title>KawamotoHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index,follow">
    <title>御所市議会議員　川本 雅樹ホームページ</title>
    <meta name="description" content="御所市議会議員　川本まさきの御所市のまちづくり、福祉、教育、文化の向上のために日々努力しています。
    憲法9条を守り平和と自由民主主義を大切にします。とりわけ国保税や介護保険料の引き下げをはじめ、18歳までの医療費の窓口支払いをなくし、市民の命とくらしを守る市政を目指します。">
    <meta name="keywords" content="川本議員,川本 雅樹,川本,御所市,御所市議会議員,議員">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_link_tag "kw", media: "screen and (min-width: 768px)" %>
    <%= stylesheet_link_tag "kw2", media: "screen and (max-width: 480px)" %>
    <%= stylesheet_link_tag "kw3", media: "screen and (min-width: 768px)" %>
    <%= stylesheet_link_tag "kw4", media: "screen and (max-width: 480px)" %>
    <script type="text/javascript" src="ks.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
